.Cell {
  height: 100px;
  width: 100px;
  background-color: darkgray;
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  box-sizing: border-box;
}

.Cell-lit {
  border: 3px dashed yellow;
  background-color: #ffffe0;
}

.Cell-dark {
  border: 3px dashed black;
  background-color: lightgray;
}